body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.navbar {
    background-color: #f16565;
    overflow: hidden;
    padding: 15px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-links {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: #101010;
    text-decoration: none;
    padding: 5px;
    display: block;
    font-size: large;
    font-weight: bold;
}

a:hover {
    color: #ecdede;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  
}

.menu-toggle span {
    background-color: #141313;
    height: 5px;
    width: 25px;
    margin: 5px 0;
    display: block;
}

@media (max-width: 768px) {
    .navbar {
        background-color: #f16565;
        overflow: hidden;
        padding: 15px;
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: inherit;
        top: 60px;
        left: 0;
        background-color: #f16565;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        margin-left: 15px;
    }

    .nav-links img {
        display: none;
    }

    .menu-toggle.active + .nav-links {
        display: flex;
    }
}


.Head{
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(100deg, #f2eb9d, #f6aed7 70%);
   
}
.head1{
    width: 50%;
}
.head2{
    width: 50%;
}
.head2 img{
    width: 100%;
    height: 100vh;
}

.head1 h1{
    text-align: left;
    padding: 8%;
    height: 40px;
    font-size: 52px;
    font-family: system-ui, sans-serif;
}
.head1 h6{
   text-align: left;
   padding: 8%;
   font-size: 20px;
   height: 130px;
   font-weight:normal;
   font-display:inherit;
   padding-top: 5px;
   font-family: system-ui, sans-serif;
}
.head1 button{
    /* display: inline; */
    background-color: #f16565;
    color: #fff;
    border: transparent;
    text-align: center;
     margin-left: 8%;
     padding: 15px;
     width: 30%;
     font-family: system-ui, sans-serif;
}
button:hover{
    background-color: #fc7e7e;
    color: #090808;

}


@media (max-width: 768px) {
    .Head{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .head1{
        width: 100%;
    }
    .head1 h1{
        text-align: left;
        padding: 8%;
        height: 60px;
        font-size: 52px;
        font-family: system-ui, sans-serif;
    }
    .head1 h6{
        text-align: left;
        padding: 8%;
        font-size: 20px;
        height: 140px;
        font-weight:normal;
        font-display:inherit;
        padding-top: 5px;
        font-family: system-ui, sans-serif;
     }
    .head1 button{
        margin-top: 80px;
        margin-bottom: 20px;
    }
    .head2{
        width: 100%;
    }
    .head2 img{
        width: 100%;
        height: 100%;
    }
    
   
}





.Head2 {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 20px;
    background: linear-gradient(100deg, #f2eb9d, #f6aed7 70%);
    font-family: system-ui, sans-serif;
    /* border: 1px solid red; */
}
.Head2 img{
    width: 20%;
}
.haed3{
    width: 50%;
    display: grid;
    /* padding: 5%; */
    
}
#A{
    grid-column-start: 1;
    grid-column-end: 3;
  
}
#B{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    
    
}
#C{
    grid-column-start: 1;
    grid-column-end: 2;
  
}





.haed4{
    width: 50%;
    
}
.box{
    font-family: system-ui, sans-serif;
    background-color: #fc7e7e;
    width: 80%;
    margin-top: 200px;
    padding: 25px;
    height: 200px;
    /* border: 1px solid red; */
}

.box h1{
   margin-top: 0px;
    font-size: 38px;
    font-weight: bolder;
}
.box h6{
/* padding-top: 30px; */
margin-top: 0px;
    font-size: 16px;
}
.arrow{
    display: flex;
    margin: auto;
}
.arrow img{
    margin-top: -35px;
    max-width: 20px; /* Set the maximum width in pixels */
    width: 100%; /* Allow the image to scale down to fit the container */
    height: auto; /* Ensure the height scales proportionally */
    margin-left: 15px;
    object-fit: contain; /* Choose 'contain' or 'cover' based on your preference */
}

.haed4{
    padding: 0px;
    margin: 0px;
}

@media (max-width: 768px) {
    .Head2 {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        background: linear-gradient(100deg, #f2eb9d, #f6aed7 70%);
        font-family: system-ui, sans-serif;
        /* border: 1px solid red; */
    }
    .Head2 img{
        width: 20%;
    }
    .haed3{
        width: 50%;
        display: grid;
        /* padding: 5%; */
        
    }
    #A{
        grid-column-start: 1;
        grid-column-end: 3;
      
    }
    #B{
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        
        
    }
    #C{
        grid-column-start: 1;
        grid-column-end: 2;
      
    }
    
    
    
    
    
    .haed4{
        width: 50%;
        
    }
    .box{
        font-family: system-ui, sans-serif;
        background-color: #fc7e7e;
        width: 300px;
        margin-top: 200px;
        padding: 25px;
        height: 170px;
        margin-left: 20px;
        margin-right: 20px;
        /* border: 1px solid red; */
    }
    
    .box h1{
       margin-top: 0px;
        font-size: 25px;
        font-weight: bolder;
    }
    .box h6{
    /* padding-top: 30px; */
    margin-top: 0px;
        font-size: 12px;
    }
    .arrow{
        display: flex;
        margin: auto;
    }
    .arrow img{
        margin-top: -35px;
        max-width: 15px; /* Set the maximum width in pixels */
        width: 100%; /* Allow the image to scale down to fit the container */
        height: auto; /* Ensure the height scales proportionally */
        margin-left: 15px;
        object-fit: contain; /* Choose 'contain' or 'cover' based on your preference */
    }
    
    .haed4{
        padding: 0px;
        margin: 0px;
    }
}
